<dt id="subversion" class="[% class %]"><a href="page.cgi?id=buglocalizer/git.html">Git (Bug Localization)</a></dt>
        <dd class="[% class %]">Set Git URL and/or account for getting source codes required for bug localization. This is a
	part of BugLocalizer extension.</dd>
